{% extends "blog/base.html" %}
{% load static %}

{% block title %}
Add Post
{% endblock%}

{% block link%}
<link rel="stylesheet" href="{% static 'css/add_post.css' %}">
{% endblock %}


{% block content %}

    <div class='maincontainer'>
        <h1>Add a new post</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button class='btn' type="submit">Submit</button>
        </form>
    </div>

{% endblock %}