/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #4b6e8d;
    text-align: center;
    margin-bottom: 20px;
}

.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

/* Form Fields */
form input,
form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

form input:focus,
form textarea:focus {
    border-color: #4b6e8d;
    outline: none;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    background-color: #4b6e8d;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2e4b6d;
}

/* Styling for form labels */
label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #4b6e8d;
    display: block;
}

/* Margin for form elements */
form .form-group {
    margin-bottom: 20px;
}
