@font-face {
    font-family: 'lemon';
    src: url(fonts/LEMONMILK-Bold.otf);
}

@font-face {
    font-family: 'coffee';
    src: url(fonts/Coffee\ Soda.otf);
}

@font-face {
    font-family: 'tango';
    src: url(fonts/TangoSans.ttf);
}

* {
    margin: 0;
    padding: 0;
    background-color: rgb(252, 252, 252);
    box-sizing: border-box;
}

h1 {
    font-family: 'lemon';
    margin-top: 50px;
    text-align: center;
    color: #000000;
}

.content{
    font-family: 'tango';
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}