@font-face {
    font-family: 'lemon';
    src: url(fonts/LEMONMILK-Bold.otf);
}

@font-face {
    font-family: 'coffee';
    src: url(fonts/Coffee\ Soda.otf);
}

@font-face {
    font-family: 'tango';
    src: url(fonts/TangoSans.ttf);
}
body{
    background-color: aliceblue;
}



.maincontainer {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 2px solid rgb(86, 14, 86); /* Adding border width and style */
    box-shadow: 100px 100px 100px rgba(255, 0, 0, 0.1);
    text-align: center;
}


.subcontainer{
    font-family: 'tango';
    text-align: left;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid rgb(86, 14, 86); /* Adding border width and style */
}

.maincontainer h1{
    font-family: 'lemon';
}

.btn{
    font-family: 'tango';
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
    border: 2px solid rgb(86, 14, 86); 
}

.btn:hover{
    background-color: #000000;
    color: #ffffff;
    transition: 0.3s ease-in;
}